.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40vw;
  padding: 2rem;
}

.form-header {
  padding: 2rem;
  display: flex;
  align-items: center;
}

.form-title {
  text-align: center;
  width: 100%;
}

.grid-container {
  width: 60vw;
}

.submit-button {
  margin-top: 20px;
}
